body.black{
  background-color: black;
  color:white;
}
body.white{
  background-color: white;
  color:black;
}
h1{
  border-bottom:1px solid red;
  padding:20px;
  padding-bottom:30px;
  margin-bottom: 0;
}
#logo{
  text-decoration: none;
}
ul{
  float:left;
  height:300px;
  width:120px;
  border-right:1px solid red;
  margin-top:0;
  padding-top:20px;
}
#article{
  padding-left:20px;
  float:left;
  width:300px;
}
